@model MysiePysieService.ViewModels.SubjectFormViewModel
@{
    ViewBag.Title = "SubjectForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Przedmiot</h2>

<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ECTSpoints)
    @Html.TextBoxFor(m => m.ECTSpoints, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ECTSpoints)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.TeacherId)
    <!-- Html.DropDownListFor(m => m.TeacherId, new SelectList(Model.Teachers, "Id", "Surname"), "", new { class = "form-control" }) -->
    @Html.ValidationMessageFor(m => m.TeacherId)
</div>
<button type="submit" class="btn btn-primary">Zapisz</button>