@model MysiePysieService.Models.Teacher
@{
    ViewBag.Title = "TeacherForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nauczyciel</h2>

<div class="form-group">
    @Html.LabelFor(m => m.Forename)
    @Html.TextBoxFor(m => m.Forename, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Forename)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Surname)
    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Surname)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Age)
    @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Age)
</div>
<button type="submit" class="btn btn-primary">Zapisz</button>